.App {
  height: 100vh;
  padding: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
  justify-content: center;
  height: 100px;
}

.DropZone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.DropZone:hover {
  cursor: pointer;
}

.Title {
  font-size: x-large;
}

.Files {
  display: flex;
  flex-wrap: wrap;
}

.File {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 16px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
}

.File-Image {
}

.File-Name {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  padding: 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
